.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 15px;
  margin-top: 5px;
}

button {
  width: 320px;
  height: 50px;
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

.employees {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.employee {
  width: 1000px;
  height: auto;
  border: 1px solid black;
  padding: 20px;
  text-align: center;
}

.employee h3 {
  margin: 20px;
}

.verifyspace {
  margin-top: 5vh;
  border: 2px black solid;
  height: 400px;
  width: 530px;
  text-align: center;
  line-height: 400px;
  font-size: 50px;
  color: RED;
}

.errortext {
  color: red;
}

.ethlink {
  color: blue;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebarfinish {
  width: 60%;
}

.baseinfo {
  position: relative;
  top: 15px;
}

.changepassword {
  background-color: black;
  color: #fff;
  text-align: center;
  width: 40%;
  max-width: 200px;
}

.memberarea {
  position: relative;
  margin-left: 20px;
}

.cancelmodify {
  width: 150px;
}
